<div class="container login">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card opague-white-background">
                <div class="card-body">
                    <h5 class="card-title">Home</h5>
                    <div>
                        <div>
                            <p>Hello,
                                <%= user.displayName %>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/newProjectPopup.ejs') %>