<html>

<head>
    <title>Orhpeos Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../templates/headTemplate.ejs %>
</head>

<body>
    <% include ../templates/navbar.ejs %>
    <%- include('../templates/backgroundPartial.ejs', {imageUrl: "/assets/code_background_glasses.jpg"}) %>
    <div class="container admin">

        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="card l-margin-1 opague-white-background">
                    <div class="card-body">
                        <h5 class="card-title">
                            Query
                        </h5>
                        <div>
                            <form method="POST">
                                <label for="query"></label>
                                <textarea id="query" style="margin-bottom: 1rem;" class="form-control" name="query"></textarea>
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if (typeof(result) != 'undefined') { %>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="card l-margin-1 opague-white-background">
                    <div class="card-body">
                        <h5 class="card-title">
                            Result
                        </h5>
                        <div>"result" also available in browser console.</div>
                        <div>
                            <pre><%- JSON.stringify(result, 0, 4)%></pre>
                            <script>
                                window.result = <%- JSON.stringify(result, 0, 4)%>;
                                console.log("result", result);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </div>
</body>

</html>