<html>
<head>
    <title>Orhpeos Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../templates/headTemplate.ejs %>
</head>

<body>
    <% include ../templates/navbar.ejs %>
    <%- include('../templates/backgroundPartial.ejs', {imageUrl: "/assets/container_jump.jpg"}) %>

    <div class="container-fluid">
        <div class="row fil-no-nav">
            <% include ../templates/homeSidebarLeft.ejs %>

            <main class="col bg-faded py-3 flow">
                <% if (typeof(view) == 'undefined') {
                    view = '../partials/homeEmpty.ejs';
                }
                
                if (typeof(data) == 'undefined') {
                    data = {};
                }

                %>

                <%- include(view, data) %>

            </main>
        </div>
    </div>
</body>

</html>